<div class="container">
  <h2 class="head-title my-5">会員登録</h2>
    <div class="row">
      <div class="col-md-6 my-auto mx-auto">
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.label :"ニックネーム" %><br />
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control" %>
            <%#autofocus true:ページ読み込み後にautofocus属性が記述されている部分にカーソルが移動、1つのhtmlファイルに1つまで
               autocomplete:自動入力（過去に入力した情報を候補に表示）を有効にする%>
          </div>
          <div class="form-group">
            <%= f.label :"メールアドレス"%>
            <%= f.email_field :email, placeholder: "sample@example.com", autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"パスワード" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :"パスワード(確認用)" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          <div class="actions text-center">
            <%= f.submit "登録", class: "btn btn-md btn-primary col-md-3" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 my-5">
        <p><会員登録がお済みの方><br>
          <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。</p>
      </div>
    </div>
</div>