
<%= form_with model:@user, local:true do |f| %>
 <div class="form-group">
     <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
     <label for="inputImage">ProfileImage</label>
     <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
 </div>
 <div class="form-group">
     <%= f.label :nickname, "ニックネーム" %>
     <%= f.text_field :nickname %>
 </div>
 <div class="form-group">
     <%= f.label :age, "年齢" %>
     <%= f.select :age, User.ages.keys, {} %>
 </div>
 <div class="form-group">
     <%= f.label :gender, "性別" %>
     <%= f.select :gender, User.genders.keys, {} %>
 </div>
 <div class="form-group">
     <%= f.label :prefecture, "住まい(県)" %>
     <%= f.select :prefecture, User.prefectures.keys, {} %>
 </div>
 <div class="form-group">
     <%= f.label :introduction, "自己紹介" %>
     <%= f.text_area :introduction %>
 </div>
 <div class="form-group">
     <%= f.submit "内容を保存する" %>
 </div>
 <% end %>
