<div class="container">
  <h5 class="text-center mt-3">投稿済みの写真</h5>
  <div class="row mt-5">
    <div class="col-lg-2">
      <table class="table table-borderless">
        <tr><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg", size: "60x60", class: "mt-3 rounded-circle" %></tr>
        <tr>
          <th><%= @user.nickname %>
              <% if current_user != @user %>
                <%= render 'users/follow-btn', user: @user %>
              <% end %></th>
        </tr>
        <tr>
          <td>フォロー中</td>
          <td><%= link_to followings_path(@user.id) do %>
                <%= @user.followings.count %>
              <% end %></td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td><%= link_to followers_path(@user.id) do %>
                <%= @user.followers.count %>
              <% end %></td>
        </tr>
        <tr>
        <% if current_user == @user %>
          <td>いいね！した写真</td>
          <td><%= link_to favorites_path(@user.id) do %>
                <%= @user.favorites.count %>
              <% end %></td>
        <% end %>
        </tr>
      </table>
      <div class="info">
        <%= @user.prefecture %> <%= @user.age %> <%= @user.gender %>
        <div class="info-text">
          <%if @user.introduction.nil? %><%#自己紹介が空欄だとエラー発生、空白(nill)ならtrueを返す%>
            <%= @user.introduction %><%#空白を表示%>
          <% else %>
            <%= safe_join(@user.introduction.split("\n"),tag(:br))%><%#改行とスペースを反映させる%>
          <% end %>
        </div>
        <div class="info-btn my-5">
          <% if current_user == @user %>
            <%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-info btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'posts/index', posts: @posts %><%#自身が投稿した一覧表示%>
  </div>
  <%= paginate @posts %>
</div>
