<div class="container">
  <div class="row mx-auto mt-5">
    <div class="col-md-2">
      <table class="table table-borderless">
        <tr><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg", class:"mt-3 rounded-circle" %></tr>
        <tr>
          <th><%= @user.nickname %></th>
          <th><% if current_user != @user %>
                <%= render 'users/follow-btn', user: @user %>
              <% end %></th>
        </tr>
        <tr>
          <td>フォロー中</td>
          <td><%= link_to followings_path(@user.id) do %>
                <%= @user.followings.count %>
              <% end %></td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td><%= link_to followers_path(@user.id) do %>
                <%= @user.followers.count %>
              <% end %></td>
        </tr>
        <tr>
        <% if current_user == @user %>
          <td>いいね！した写真</td>
          <td><%= link_to favorites_path(@user.id) do %>
                <%= @user.favorites.count %>
              <% end %></td>
        <% end %>
        </tr>
      </table>
      <div class="info">
        <%= @user.prefecture %> <%= @user.age %> <%= @user.gender %>
        <div class="info-text"><%= @user.introduction %></div>
        <div class="info-btn">
          <% if current_user == @user %>
            <%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-info btn-sm" %>
          <% end %></div>
      </div>
    </div>
    <div class="col-md-10">

      <div class="row">
        <%= render 'posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>
