<h1>画像投稿フォーム</h1>
<%= form_with model: @post, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>撮影日</h4>
  <%= f.date_field :filmed_on %>
  <h4>山</h4>
  <%= f.text_field :mountain %>
  <h4>場所</h4>
  <%= f.text_field :prefecture %>
  <h4>説明</h4>
  <%= f.text_area :content %>
  <%= f.submit '投稿' %>
<% end %>